extends layoutMain

block content
	.padding20px
	.container-fluid
		.row
		.col-lg-2.col-md-3.col-sm-12.headercont
			.profileinfo.jumbotext.jumbotext-alt
				h3 #{user.username}
				if user.headline != null
					p Tagline goes here
				p
					strong Lives in: 
					| #{user.hometown}
				p
					strong Games Owned: 
					| #{user.userCollectionGames.length}
				p
					strong Games Wanted: 
					| #{user.userWishListGames.length}
				if user.steamid != null
				p
					strong Steam ID: 
					| #{user.steamid}
				if user.psnid != null
				p
					strong PSN ID: 
					| #{user.psnid}
				p
					strong XBox Live ID: 
					| #{user.xboxliveid}
		.col-lg-10.col-md-9.col-sm-12
			.titlestrike
				h3.title Collection
			.tableholder
				table#datatable1.display.row-border.hover.compact.order-column.nowraps
					thead
						tr
							th Game Title
							th Console
							th Genre
							th Loose Price
							th CIB Price
					tbody.collection.tablebody
			.padding20px
			.titlestrike
				h3.title Trade List
			.tableholder
				table#datatable2.display.row-border.hover.compact.order-column.nowraps
					thead
						tr
							th Game Title
							th Console
							th Genre
							th Loose Price
							th CIB Price
					tbody.tradelist.tablebody
			.padding20px
			.titlestrike
				h3.title Wish List
			.tableholder
				table#datatable3.display.row-border.hover.compact.order-column.nowraps
					thead
						tr
							th Game Title
							th Console
							th Genre
							th Loose Price
							th CIB Price
					tbody.wishlist.tablebody
			.padding20px
	//
		Here all the scripts be 
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	//
		include datatables
	script(type='text/javascript').
		var user =!{JSON.stringify(user)} 
	script(src='http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')
	script(src='/scripts/profile.js')
	script(src='/main.js')